@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400&display=swap');
/*
font-family: 'Amatic SC', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'Teko', sans-serif;
*/

body {
    width: 900px;
    margin: auto;
    font-family: 'Titillium Web', sans-serif;
       
}


h1, #tit-skill{
    font-family: 'Teko', sans-serif;
    letter-spacing: 1rem;
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: underline;
    text-underline-offset: 40%;
    /*text-decoration-line: overline;
    text-decoration-thickness: 0.05px;
    text*/
    text-decoration-color: #00aef0;
    
    
}


header {
    display: flex;
    
    justify-content: space-between;
    
    
}

header h3 {
    opacity: 0.8;
    color: #00aef0;

    
}   

nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: black;   
    
}


#main-nav {
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: fit-content;
    list-style: none;
    font-weight: 900;
    cursor: pointer;
    opacity: 0.9;
    background-color:black;
    padding: 0 0.5rem;
    color:#00aef0;
    

}

#main-nav li a:hover{
    color:#00aef0;
}

.sub-nav{
    display: none;
    position: absolute;
    float: left;
    padding: 1.8rem 0;
    color: whitesmoke;
    background-color: black;
    
    
}

.drop-down{
    border-right: 3px solid green;
    padding-right: 1rem;
    width: 33%;
    text-align: center;
}

.drop-down:hover > .sub-nav{
    display: block;
    list-style: none;
        
    
}


a:link, a:hover, a:visited, a:focus{
    color: white;
    text-decoration: none;
}

span a:link,span a:hover,span a:visited,span a:focus{
    color:blue;
}
.sub-nav a:link{
    color: whitesmoke;
    
}

.sub-nav a:visited{
    color: whitesmoke;
}

.sub-nav a:hover{
    color: #00aef0;
}
.sub-nav li:hover{
    
    color: #00aef0;
}
.sub-nav li::after{
    content: '( )=>';
    margin-left: 1rem;
}


#test-area{
    width: 800px;
    height: 800px;
    border: 1px solid black;
    
}
.anime{
    color: white;
    animation: moveright 3s ease-in-out 2s infinite alternate;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    letter-spacing: 0.6rem;
    /*text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: green;*/
    text-align: center;
    border-right: 3px solid green;
}
.proj-img{
    max-width: 19rem;
    max-height: 18.75rem;
}
@keyframes moveright{
    from{
        color: #00aef0;
    }
        
    to{
        
        color: whitesmoke;
    }
}

#proyectos{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3rem;
    
}
.proyecto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    
    
    
    
}


#about-me {
    display: flex;
    margin-top: 5rem;
    font-family: 'Teko', sans-serif;

}

#about-me p {
    opacity: 0.8;
    width: 70%;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
    font-size: 1.5rem;
    
}

#about-me span {
    font-size: 2rem;
    font-weight: bold;
    opacity: 0.9;
    letter-spacing: 0.5rem;
}

#story {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#contact{
    width: 100%;
    display: flex;
    justify-content: space-between;    
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
    align-items: center;
    letter-spacing: 0.5rem;
}



#project-list {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
    height: auto;
    justify-content: space-between;
    animation: slideshow 15s infinite alternate;
}

#projects i{
    margin-top: 1rem;
}
#projects h2 {
    opacity: 0.9;
}

#skills {
    margin-top: 4rem;
    display: flex;
   
    /*justify-content: space-between;*/
    flex-wrap: wrap;
    width: 100%;
}


.figure{
    position: absolute;
    display: flex;
    flex-direction: column;
    /*border: 2px solid black;*/
    border-radius: 0.2rem;
    width: 90%;
    height: 30%;
    max-width: 750px;
    align-items: center;
    background-color: white;    
}

figcaption{
    display: none;
    flex-direction: column;
    padding-left: 0.5rem;
    
}

.figcaption{
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
}

figure img{
    transition:width 0.5s linear 0.3ms,
    transform 0.3s ease 0.3ms;
    

}

figure img:hover{
    width: 80px;   
    transform: translateY(-20px);
 
    
}
.bold{
    font-weight: bold;
}
.lang-icons, .contact-media {
    width: 50px;
    cursor: pointer;
    
}

.fa-solid{
    cursor: pointer;
}
.data-project{
    display: none;
    flex-direction: column;
    
}

.link{
display: flex;
}

button{
    background-color: transparent;
    border: none;
    color: blue;
    margin-left: 0;
    font-weight: bold;
    cursor: pointer;

}
#continue{
    display: none;
}

#less{
    display: none;
}
#more{
    display: flex;
}

#burger{
    display: none;
    width: 2rem;
    font-size: 2rem;
    margin-right: 0.5rem;
    cursor: pointer;
    
    
}

.menu-hidden{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
   
    
}
@media only screen and (max-width: 938px){
    body{
        width: 90vw;
    }
    #about-me{
        font-size: 0.8rem;
        text-align: justify;
        width: auto;
        flex-direction: column;
        
    }
    #story{
        align-items: center;
        order: 2;
        width: 100%;
    }
    #about-me p{
        width: 90%;
        opacity: 1;
        
        
    }

    #contact{
        height: fit-content;
        width: 100%;
        
        
    }
    #perfil{
        height:10rem;
        width: 10rem;
        margin: auto;
        background-size: cover;
    }
    #info{
        font-size: 0.8rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 1rem 0;
        
    }
    #info h3{
        display: none;
    }

    
    .contact-media{
        width: 2rem;
    }

    .lang-icons{
        width: 3rem;
        
        margin-right: 0.8rem;
    }
    #skills{
        justify-content: center;
        flex-wrap: wrap;
    }
    #skills h2{
        width: 100%;
        text-align: center;
        text-shadow: 0.1rem 0.1rem 1px yellow;
    }

}

@media only screen and (max-width:575px){
    
    #main-nav{
        display: none;
        position: relative;
        background-color: unset;
        width: 90%;
    }

    nav{
        width: 100%;
        align-items: center;
        background: #37383C;
        color: white;
    }

    .sub-nav{
        display: none;
        position: absolute;
        padding: 0;
        width: 90vw;
        left: 0;
        top: 2.5rem;
        color: whitesmoke;
        background-color: black;
        
        
    }
    
    
    #burger{
        display: flex;
        margin-bottom: 0.5rem;
        
    }
    header{
        flex-direction: column;
        
    }
    nav h3{
        text-align: center;
        width: 100%;
        
        
    }
    a:visited{
        color: whitesmoke;
    }
    
}